:root {
    --space-unit: 2px;

    --main-color: #319b9b;
    --bg-inactive-button: #f1f1f1;
    --shadow: #cecece 0 2px 8px 0;
    --m-button: calc(var(--space-unit) * 2) 0;
    --m-select: calc(var(--space-unit) * 2) calc(var(--space-unit) * 2);
    --p-button: calc(var(--space-unit) * 4) calc(var(--space-unit) * 4);

    font-family: 'Raleway', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    margin: auto;
}

.title {
    font-family: 'Raleway', sans-serif;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: calc(var(--space-unit) * 8);
}

.buttons {
    display: flex;
    flex-direction: column;
}

.button {
    margin: var(--m-button);
    padding: var(--p-button);
    border-radius: var(--space-unit);
    background-color: var(--bg-inactive-button);
    border: 0;
}

.button:hover {
    box-shadow: var(--shadow);
    cursor: pointer;
}

.active {
    background-color: var(--main-color);
    color: white;
}

.select-group {
    width: 100%;
    display: flex;
}

.select {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: var(--space-unit);
}

.chart {
    margin-top: calc(var(--space-unit) * 8);
}

@media screen and (max-width: 600px) {
    .body {
        max-width: 320px;
    }

    .content {
        grid-template-columns: auto;
    }
}
